/.idea
/venv
*.egg-info
*.tar.gz
*.whl
/dist
.pytest_cache/
/build/
__pycache__/
*_pb2.py
*.pb.h
*.pb.cc
*.xlsx
*.csv
*.xml

tmp.json

/htmlcov/
/junit/
/.coverage
/coverage.xml
/test-output.xml

*.db
*.pkl
*.zip
*.txt
/pvim_tu/axioma2portfolio/tmp/
/doc_config/
/pvim_tu/axioma_api/multivariate_shocked_portfolio/output/

/tests/.pydevproject
/tests/.project
/pvim_tu/.pydevproject
/pvim_tu/.project
/pvim_tu/.settings
/pvim_tu/pulib/.pydevproject
/pvim_tu/pulib/.project
.spyproject/
